In [1]:
#comentari
x=5
x

5

In [2]:
X=6
X+X

12

In [3]:
X+x

11

In [4]:
a="Dilluns"
print (a)

Dilluns

In [5]:
print("Avui es", a)

Avui es Dilluns

In [6]:
llista=['pan','llet','ous',15,'peix']
print(llista)

['pan', 'llet', 'ous', 15, 'peix']

In [7]:
llista[1]

'llet'

In [8]:
llista.append('Nutella')
llista

['pan', 'llet', 'ous', 15, 'peix', 'Nutella']

In [14]:
llista.insert(1,'Galetes')
llista

['pan',
 'Galetes',
 'Galetes',
 'Galetes',
 'Galetes',
 'Galetes',
 'llet',
 'ous',
 15,
 'peix',
 'Nutella']

In [15]:
llista.count('Galetes')

5

In [19]:
llista.remove('pan')
print(llista)

ValueError: list.remove(x): x not in list

In [20]:
numeros=[1,2,3,4,5]
print(numeros)

[1, 2, 3, 4, 5]

In [21]:
numeros2=range(10)
print(list(numeros2))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [22]:
len(llista)

10

In [24]:
numeros3=range(11,22,3)
print(list(numeros3))

[11, 14, 17, 20]

In [25]:
max(numeros3)

20

In [26]:
sum(numeros3)

62

In [27]:
min(numeros3)

11

In [29]:
for i in [1,2,3]:
    print('el numero es',i)
print('acabat')

el numero es 1
el numero es 2
el numero es 3
acabat

In [32]:
iter=1
for i in llista:
    print('el numero es',i,'i la iteracio es',iter)
    iter=iter+1
print('acabat')

el numero es Galetes i la iteracio es 1
el numero es Galetes i la iteracio es 2
el numero es Galetes i la iteracio es 3
el numero es Galetes i la iteracio es 4
el numero es Galetes i la iteracio es 5
el numero es llet i la iteracio es 6
el numero es ous i la iteracio es 7
el numero es 15 i la iteracio es 8
el numero es peix i la iteracio es 9
el numero es Nutella i la iteracio es 10
acabat

In [34]:
paraula='Diumenge'
for lletra in paraula:
    print(lletra)

D
i
u
m
e
n
g
e

In [2]:
s='dilluns'
if s=='divendres':
    print('estic content')
else:
    print('no')

no

In [6]:
x=120
if x<=12:
    print('num <= 12')
elif x<=40:
    print('num entre 12 i 40')
elif x<=100:
    print('num entre 40 i 100')
else:
    print('num>100')

num>100

In [8]:
paraula='Diumenge'
for lletra in paraula:
    if lletra=='n':
        break
    print(lletra)

D
i
u
m
e

In [9]:
for i in range(30):
    if i==16 or i==25 or i==29:
        continue
    print (i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
17
18
19
20
21
22
23
24
26
27
28

In [10]:
for i in range(101):
    if i>=25 and i<=50:
        print (i)

25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50

In [11]:
def suma5(x):
    print(x+5)
suma5(15)

20

In [12]:
def sumaab(a,b):
    return a+b
sumaab(12,25)

37

In [14]:
import pandas as pd

In [15]:
setmana=pd.Series(['Dilluns','Dimarts','Dimecres','Dijous'])
print(setmana)

0     Dilluns
1     Dimarts
2    Dimecres
3      Dijous
dtype: object

In [16]:
millista=[12,57,81,36,98,24,15,66,38]
sn=pd.Series(data=millista)
print(sn)

0    12
1    57
2    81
3    36
4    98
5    24
6    15
7    66
8    38
dtype: int64

In [17]:
sn.size

9

In [21]:
sn.sum()
sn.cumsum()
sn.max()
sn.min()
sn.mean()
sn.var()
sn.std()
sn.describe()

count     9.000000
mean     47.444444
std      29.992129
min      12.000000
25%      24.000000
50%      38.000000
75%      66.000000
max      98.000000
dtype: float64

In [22]:
def resta2(x):
    return x-2
sn.apply(resta2)

0    10
1    55
2    79
3    34
4    96
5    22
6    13
7    64
8    36
dtype: int64

In [26]:
sn.sort_values(ascending=True)

0    12
6    15
5    24
3    36
8    38
1    57
7    66
2    81
4    98
dtype: int64

In [27]:
sn.sort_values(ascending=True, ignore_index=True)

0    12
1    15
2    24
3    36
4    38
5    57
6    66
7    81
8    98
dtype: int64