In [13]:
import pandas as pd
# pd.df = pd.read_csv("sample.csv")
motos=pd.read_csv("C:/Curs Python/Motocicletas gasolina.csv")
motos

     Año Tipo de vehículo Combustible  Unidades
0   2005     Motocicletas    Gasolina      3215
1   2006     Motocicletas    Gasolina      3626
2   2007     Motocicletas    Gasolina      4163
3   2008     Motocicletas    Gasolina      4492
4   2009     Motocicletas    Gasolina      4762
5   2010     Motocicletas    Gasolina      4929
6   2011     Motocicletas    Gasolina      5140
7   2012     Motocicletas    Gasolina      5282
8   2013     Motocicletas    Gasolina      5432
9   2014     Motocicletas    Gasolina      5605
10  2015     Motocicletas    Gasolina      5757
11  2016     Motocicletas    Gasolina      5989
12  2017     Motocicletas    Gasolina      6187
13  2018     Motocicletas    Gasolina      6400
14  2019     Motocicletas    Gasolina      6668

In [15]:
motos['Año']
motos['Unidades']

0     3215
1     3626
2     4163
3     4492
4     4762
5     4929
6     5140
7     5282
8     5432
9     5605
10    5757
11    5989
12    6187
13    6400
14    6668
Name: Unidades, dtype: int64