In [4]:
#Processar dades per poder fer models predictius, en aquest cas farem
#VentasGroucery_Meses.xlsx. Per poder llegir excel cal instal·lar openpyxl
#tb cal pandas

import pandas as pd
agosto2014 = pd.read_excel("C:/Curs Python/VentasGroucery_Meses.xlsx", sheet_name="Ventas Agosto 2014")
agosto2014
septiembre2014 = pd.read_excel("C:/Curs Python/VentasGroucery_Meses.xlsx", sheet_name="Ventas Septiembre 2014")
septiembre2014
octubre2014 = pd.read_excel("C:/Curs Python/VentasGroucery_Meses.xlsx", sheet_name="Ventas Octubre 2014")
octubre2014

#Per juntar 2 o més dataframes o fulls d'excel en un de sol, cal fer servir concat (junta en vertical)
#han de tenir el mateix núm de columnes i els mateixos noms

trimestre = pd.concat([agosto2014, septiembre2014, octubre2014])
trimestre.head(10)

,Order ID,Product,Category,Unit Price,Quantity,Customer,Ship City,Ship Country,Order Date
0,10248,Singaporean Hokkien Fried Mee,Grains/Cereals,9.8,1,Vins et alcools Chevalier,Reims,France,2014-08-04
1,10248,Mozzarella di Giovanni,Dairy Products,34.8,5,Vins et alcools Chevalier,Reims,France,2014-08-04
2,10248,Queso Cabrales,Dairy Products,14.0,12,Vins et alcools Chevalier,Reims,France,2014-08-04
3,10249,Tofu,Produce,18.6,9,Toms Spezialitäten,Münster,Germany,2014-08-05
4,10249,Manjimup Dried Apples,Produce,42.4,40,Toms Spezialitäten,Münster,Germany,2014-08-05
5,10250,Louisiana Fiery Hot Pepper Sauce,Condiments,16.8,15,Hanari Carnes,Rio de Janeiro,Brazil,2014-08-08
6,10250,Jack's New England Clam Chowder,Seafood,7.7,10,Hanari Carnes,Rio de Janeiro,Brazil,2014-08-08
7,10250,Manjimup Dried Apples,Produce,42.4,35,Hanari Carnes,Rio de Janeiro,Brazil,2014-08-08
8,10251,Louisiana Fiery Hot Pepper Sauce,Condiments,16.8,20,Victuailles en stock,Lyon,France,2014-08-08
9,10251,Gustaf's Knäckebröd,Grains/Cereals,16.8,6,Victuailles en stock,Lyon,France,2014-08-08

In [5]:
#càlcul de l'import de venda = Unit Price * Quantity

trimestre['Import']=trimestre['Unit Price']*trimestre['Quantity']
trimestre.head(2)

,Order ID,Product,Category,Unit Price,Quantity,Customer,Ship City,Ship Country,Order Date,Import
0,10248,Singaporean Hokkien Fried Mee,Grains/Cereals,9.8,1,Vins et alcools Chevalier,Reims,France,2014-08-04,9.8
1,10248,Mozzarella di Giovanni,Dairy Products,34.8,5,Vins et alcools Chevalier,Reims,France,2014-08-04,174.0

In [6]:
#Per veure els valors únics d'un camp (en vertical sense unique o en horitzontal amb unique):

trimestre['Category'].unique()

array(['Grains/Cereals', 'Dairy Products', 'Produce', 'Condiments',
       'Seafood', 'Confections', 'Beverages', 'Meat/Poultry'],
      dtype=object)

In [7]:
trimestre['Category']

0     Grains/Cereals
1     Dairy Products
2     Dairy Products
3            Produce
4            Produce
           ...
52         Beverages
53         Beverages
54           Seafood
55       Confections
56         Beverages
Name: Category, Length: 185, dtype: object

In [8]:
#per guardar-ho en un altre datafreme, no nmés imprimir la lectura:

categories = trimestre['Category'].unique()
categories

array(['Grains/Cereals', 'Dairy Products', 'Produce', 'Condiments',
       'Seafood', 'Confections', 'Beverages', 'Meat/Poultry'],
      dtype=object)

In [9]:
#Per agrupar i veure dades resumides
#es pot fer sum(), mean(), max(), min(), count()

trimestre.groupby(['Category']).Import.sum()

Category
Beverages         13606.0
Condiments         6375.6
Confections       17936.3
Dairy Products    16594.0
Grains/Cereals     2275.2
Meat/Poultry      11067.9
Produce            6141.0
Seafood           10353.3
Name: Import, dtype: float64

In [10]:
trimestre.groupby(['Category','Ship Country']).Import.sum()

Category   Ship Country
Beverages  Austria          860.8
           Belgium          441.6
           Brazil          1356.8
           Finland          920.0
           France          1104.0
                            ...
Seafood    Mexico          1040.8
           Spain            919.2
           Sweden           492.5
           Switzerland      380.0
           USA             1645.0
Name: Import, Length: 83, dtype: float64

In [12]:
trimestre.groupby(['Category'])["Unit Price"].count()

Category
Beverages         39
Condiments        19
Confections       30
Dairy Products    35
Grains/Cereals    11
Meat/Poultry      15
Produce           10
Seafood           26
Name: Unit Price, dtype: int64

In [14]:
categories = trimestre.groupby(['Category']).Import.sum()
categories

Category
Beverages         13606.0
Condiments         6375.6
Confections       17936.3
Dairy Products    16594.0
Grains/Cereals     2275.2
Meat/Poultry      11067.9
Produce            6141.0
Seafood           10353.3
Name: Import, dtype: float64

In [15]:
categoriesdf=pd.DataFrame(categories, columns=['Acumulat'])
categoriesdf

Empty DataFrame
Columns: [Acumulat]
Index: []

In [27]:
categories2 = trimestre.groupby(['Category']).Import.sum()
categoriesdf=pd.DataFrame(categories2, columns=['Import'])
categoriesdf=categoriesdf.reset_index()
categoriesdf

         Category   Import
0       Beverages  13606.0
1      Condiments   6375.6
2     Confections  17936.3
3  Dairy Products  16594.0
4  Grains/Cereals   2275.2
5    Meat/Poultry  11067.9
6         Produce   6141.0
7         Seafood  10353.3

In [28]:
#pràctica

categories3 = trimestre.groupby(['Category']).Quantity.sum()
categoriesdf2=pd.DataFrame(categories3, columns=['Quantity'])
categoriesdf2=categoriesdf2.reset_index()
categoriesdf2

         Category  Quantity
0       Beverages       904
1      Condiments       403
2     Confections       663
3  Dairy Products       694
4  Grains/Cereals       117
5    Meat/Poultry       287
6         Produce       210
7         Seafood       621

In [29]:
#Amb merge podem veure les dades resumides per categoria, que és el camp comú

agrupacio_final = pd.merge(categoriesdf,categoriesdf2, on="Category")
agrupacio_final

#quan femmerge, la primera taula és l'esquerra i la segona la dreta

         Category   Import  Quantity
0       Beverages  13606.0       904
1      Condiments   6375.6       403
2     Confections  17936.3       663
3  Dairy Products  16594.0       694
4  Grains/Cereals   2275.2       117
5    Meat/Poultry  11067.9       287
6         Produce   6141.0       210
7         Seafood  10353.3       621